<section class="[ hero ] [ d-grid grid-12 ]">
    <div class="[ hero__content ] [ span-12 sm:span-5 flow space-400 md:space-600 ]">
        <h1 class="heading">{{ hero.heading }}</h1>
        <p class="text">{{ hero.sub_text }}</p>
        <a class="btn btn--large btn--primary" href="{{ hero.link_url }}">{{ hero.link_text }}</a>
    </div>
    <img class="[ hero__image ] [ span-12 sm:span-7 d-none sm:d-block ]"
            width="1400" height="716"
            sizes="(max-width: 1400px) 100vw, 1400px"
            srcset="
            {{ page.hero.image | image({w: 900, h: 192, fit: 'crop'}) }} 375w,
            {{ page.hero.image | image({w: 768, h: 393, fit: 'crop'}) }} 375w,
            {{ page.hero.image | image({w: 992, h: 508, fit: 'crop'}) }} 768w,
            {{ page.hero.image | image({w: 1280, h: 655, fit: 'crop'}) }} 992w,
            {{ page.hero.image | image({w: 1400, h: 716, fit: 'crop'}) }} 1280w"
            src="{{ page.hero.image | image({w: 1400, h: 716, fit: 'crop'}) }}"
        alt="{{ title }}">
</section>