.header{

    --header-height: var(--size-800);
    --position: fixed;

    // @media (min-width: $md) {
    //     --position: relative;
    // }


    position: var(--position);
    width: 100%;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    padding: 0 var(--gutter);
    height: var(--header-height);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    z-index: 2;

    &-push{
        width: 100%;
        height: var(--size-800);

        // @media (min-width: $md) {
        //     height: 0;
        // }
    }

    .logo{
        height: 40%;
        display: block;
        margin-right: var(--size-600);

        svg{
            height: 100%;
        }
    }

    .main-nav{

        &__menu{
            display: flex;

            &__item{
                padding: 0 1rem;
                font-size: 1rem;

                ul{
                    display: none;
                }
            }
        }

    }

    .user-nav{
        margin-left: auto;
        display: flex;

        li{
            padding-right: 1rem;

            a{
                height: 1.3rem;
                display: block;
                font-size: 0;

                svg{
                    height: 100%;
                }
            }
        }
    }

    .dropdown-menu{
        font-size: 0;
        position: relative;
        z-index: 100;
        background-color: transparent;
        border: none;
        padding: 0;
    }
}